@media all and (max-width: 1200px) {
    #container {
        padding: 15px;
    }


    h1 {
        font-size: 20px;
    }

    .key {
        width: 40px;
        height: 40px;
        font-size: 25px;
        margin: 5px;
    }

    .key span {
        font-size: 10px;
    }
}
